header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
}

.element-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  position: fixed;
}
.logo {
  display: flex;
}
.logo span {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}
.logo img {
  display: flex;
  margin-top: 15px;
  width: 75px;
  height: 75px;
}


.nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
}

nav a.active {
  color: #00c8ff;
  border-bottom: 2px solid #00c8ff;
}
