header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 95%;
}

.element-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  position: fixed;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}

nav a.active {
  color: #00c8ff;
  border-bottom: 2px solid #00c8ff;
}
