.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
}

.home-page h1 {
  font-size: 172px;
  margin-bottom: 1px;
  margin-top: 3px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home-page p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 200px;
  margin-top: 2px;
  animation: fadeInOut 3s infinite;
}

.home-page svg {
  animation: fadeInOut 3s infinite;
  width: 120%;
  height: 120%;
}