.services-page {
    height: 700px;
    width: 100%;
  }

.services-page h1 {
    font-size: 48px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .service {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
  }
  
  .service h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .service ul {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .service p {
    font-weight: bold;
    color: #00c8ff;
  }